@model IEnumerable<StudentValidation.Models.StudentDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Search", "StudentDetails", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        Search: <input id="name" name="name" type="text" class="form-control" />
        @Html.RadioButton("searchBy", "Name", true) <text>Name</text>
        @Html.RadioButton("searchBy", "Surname") <text>Surname</text><br />
        @Html.RadioButton("searchBy", "Number") <text>Student Number</text><br />
    </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentNumber })
        </td>
    </tr>
}

</table>
